<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body background="https://c4.wallpaperflare.com/wallpaper/532/499/690/black-formula-board-wallpaper-preview.jpg"><br><br><br>
    <h1 style="font-size: 60px; color: rgb(0, 136, 225);"><center>Enter your loan info</center></h1>
    <form action="multi" style="font-size: 30px;">
    {% csrf_token %}
        
    <center><label for="" style="color: white;">Principle amount :</label>
    <input type="text" id="p" name="p" placeholder="Enter non decimal value" style="height:30px;" required></center>
    <br>
    <center><label for="" style="color: white;">Rate of intrest &emsp;&nbsp;:</label>
    <input type="text" id="r" name="r" placeholder="Intrest" style="height:30px;" required></center>
    <br>
    <center><label for="" style="color: white;">Duration &emsp;&emsp;&emsp;&nbsp;:</label>
    <input type="text" id="t" name="t" placeholder="Enter duration in years" style="height:30px;" required></center>
    <br>
    <center><button type="submit" style="height:40px;width:200px; font-size: large;">Submit</button></center>

    </form>
</body>
</html>