<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loan emi calculator</title>
</head>
<body background="https://c4.wallpaperflare.com/wallpaper/532/499/690/black-formula-board-wallpaper-preview.jpg">
    <br><br><br><br>
    <h1 style="font-size:60px; color: rgb(0, 136, 255); " ><center>LOAN EMI CALCULATOR</center></h1>
    <br><br>
    <center><button type="submit" style="height: 50px; width: 200px; font-size: larger;"><a href="/signin">SignIn</a></button></center><br><br>
    <center><button type="submit" style="height: 50px; width: 200px; font-size: larger;"><a href="/signup">SignUp</a></button></center>
    
</body>
</html>